@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    background: linear-gradient(#2573c1, #2e488a);
    height: 100%;
}

header{
    background:#3e281c;
    margin: 0;
    padding: 1em;
}
header ul{
    display: flex;
    justify-content: left;
}
header li{
    list-style-type: none;
    margin-right: 5%;
}
header button{
    font-size: 1.3em;
    font-family: 'Sen';
    padding: 1em;
    border-radius: 2em;
    border: none;
    background: #ffce5a00;
    color: #FFCD5A;
    transition: all .1s ease-in-out;
}
header button:hover{
    scale: 110%;
    border-radius: 1em;
    background: #FFCD5A;
    color: #a81111;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.home button{
    color: #a81111;
    background: #ffe8b2;
}
header img{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 200px;
}
header img{
    border-radius: 8em;
    scale: 90%;
    transition: all .2s ease-in-out;
}
header img:hover{
    border-radius: 4em;
    scale: 110%;
    rotate: 15deg;
    transition: all .2s ease-in-out;
}
/* header will be consistent through every file */


h1{
    text-align: center;
    font-family: 'sen';
    font-size: 3em;
    color: #FFCD5A;
}
.smallh1{
    font-size: 2em;
    color: #f6b025;
    padding-top: 3em;
}
h2{
    font-family: 'sen';
    font-size: 1.5em;
    color: #ffe8b2;
    font-weight: normal;
    text-align: center;
}
p{
    font-family: 'inter';
    font-size: 1.4em;
    color: #ffe8b2;
    font-weight: normal;
    text-align: center;
}
.samples{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2em;
}
.example{
    display: grid;
    justify-content: center;
}
.example img{
    width: 100%;
    max-width: 700px;
    transition: all .3s ease-in-out;
    margin: auto;
}
.example video{
    width: 100%;
    max-width: 700px;
    transition: all .3s ease-in-out;
    margin: auto;
}
.example img:hover{
    scale: 140%;
    transition: all .3s ease-in-out;
}
.storyboard{
    position: relative;
    left: 0px;
    transition: all .3s ease-in-out;
}
.storyboard:hover{
    left: 20%;
    transition: all .3s ease-in-out;
}
.drawings img{
    width: 100%;
    max-width: 600px;
    transition: all .3s ease-in-out;
    margin: auto;
}
.drawings img:hover{
    scale: 110%;
    transition: all .3s ease-in-out;
}
.prices{
    display: flex;
    justify-content: center;
}
.prices h2{
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    top: 1em;
}

footer{
    background:#3e281c;
    padding: 3px;
    margin: 0;
}
footer p{
    font-size: 1em;
    text-align: left;
}

.smallonly{
    display: none;
}

@media (max-width: 1200px){  
    .bigonly{
        display: none;
    }
    .smallonly{
        display: flex;
        justify-content: space-around;
    }
    header img{
        position: static;
        width: 100%;
        max-width: 200px;
    }
    .home{
        position: relative;
        top: 50px;
    }
    .dropdown_menu{
        position: absolute;
        top: 200px;
        background: #3e281c;
        transition: all .3s ease-in;
        display: none;
    }
    input{
        opacity: 0%;
    }
    .dropdown{
        width: 150px;
        height: 150px;
        background: url('./Icon_Menu.svg');
        position: relative;
        top: 30px;
    }
    .dropdown:hover{
        scale: 105%;
        cursor: pointer;
    }
    .dropdown:has(input:checked) + .dropdown_menu{
        display: block;
        right: 0px;
        transition: all .3s ease-in;
    }
    .hamburger{
        display: block;
    }
    .hamburger li{
        margin-right: 0%;
    }

    /* Above Code applies to all sub-pages' headers */

    main{
        width: 90%;
        margin: auto;
        padding-bottom: 3em;
    }
    .bio img{
        width: 100%;
        max-width: 300px;
        border: 2px solid #FFCD5A;
        border-radius: 2em;
        transition: all .1s ease-in-out;
        margin: auto;
    }
    .bio img:hover{
        scale: 105%;
        border-radius: 1em;
        transition: all .1s ease-in-out;
    }
    .bio p{
        width: auto;
        margin-left: 2em;
    }
    .bio{
        display: grid;
        justify-content: center;
    }
    footer p{
        font-size: 1em;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    .samples{
        display: grid;
        justify-content: space-around;
        padding-bottom: 2em;
    }
    .prices{
        display: grid;
        justify-content: center;
    }
    .storyboard:hover{
        left: 0%;
        transition: all .3s ease-in-out;
    }
    .drawings img:hover{
        scale: 102%;
        transition: all .3s ease-in-out;
    }
    .example img:hover{
        scale: 102%;
        transition: all .3s ease-in-out;
    }
}

@media (max-width: 600px){
    .home{
        display: none;
    }
}